################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# 忽略 Visual Studio 的临时配置文件夹
.vs/

# 忽略编译输出文件夹
bin/
obj/
x64/
x86/
Debug/
Release/

# 忽略用户特定的设置文件
*.user
